name: 'Main'
on: [push]

jobs:
  build:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: arnaudboeglin/javachess-entrypoint
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          tags: "release-${{ github.run_number }},latest"

  deploy:
    if: github.ref == 'refs/heads/master'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_TOKEN }}
      - name: Save DigitalOcean kubeconfig
        env:
          CLUSTER_NAME: ${{ secrets.CLUSTER_NAME }}
        run: doctl kubernetes cluster kubeconfig save $CLUSTER_NAME
      - name: Update container image
        run: kubectl -n apps set image deployment/javachess-entrypoint "javachess-entrypoint=arnaudboeglin/javachess-entrypoint:release-${{ github.run_number }}" --record 
